@import 'tailwindcss';

@keyframes loading-bar {
  20% {
    background-color: var(--color-primary);
    transform: scaleY(1.5);
  }

  40% {
    transform: scaleY(1);
  }
}

@layer utilities {
  .animate-loading-bar {
    animation: loading-bar 1s linear infinite alternate;
  }

  .delay-custom-500 {
    animation-delay: 500ms;
  }

  .delay-custom-250 {
    animation-delay: 250ms;
  }
}

@theme {
  --color-primary: #656fc7;
  --color-normal-text: #2e2f30;
  --color-primary-50: #f6f7fd;
  --color-primary-100: #eef0fb;
  --color-primary-200: #d5d9f5;
  --color-primary-300: #bcc2ef;
  --color-primary-400: #8a95e2;
  --color-primary-500: #5867d6;
  --color-primary-600: #4f5dc1;
  --color-primary-700: #424ea1;
  --color-primary-800: #353e81;
  --color-primary-900: #2b3269;
  --color-danger: #ff4d4f;
}

.cus-ellipsis {
  @apply overflow-hidden text-ellipsis whitespace-nowrap;
}
